.badge {
  background: #002b36;
  border-radius: 2px;
  color: #eee8d5;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  line-height: 30px;
  margin: 3px 5px 3px 0;
  padding: 0 10px;
  -webkit-transition: 0.3s linear background, 0.3s color;
  -moz-transition: 0.3s linear background, 0.3s color;
  -o-transition: 0.3s linear background, 0.3s color;
  -ms-transition: 0.3s linear background, 0.3s color;
  transition: 0.3s linear background, 0.3s color;
}
.badge:hover {
  background: #657b83;
  color: #fff;
}
.badge:nth-last-of-type(1) {
  margin-right: 0;
}
.badge {
  background: #839496;
}
.badge:hover {
  background: #748789;
}
.badge.red {
  background: #dc322f;
}
.badge.red:hover {
  background: #ce2623;
}
.badge.green {
  background: #859900;
}
.badge.green:hover {
  background: #788a00;
}
.badge.yellow {
  background: #b58900;
}
.badge.yellow:hover {
  background: #a37b00;
}
.green .badge {
  background: #859900;
}
.green .badge:hover {
  background: #788a00;
}
.red .tagit-choice,
.red .badge {
  background: #dc322f;
}
.red .tagit-choice:hover,
.red .badge:hover {
  background: #ce2623;
}
.yellow .tagit-choice,
.yellow .badge {
  background: #b58900;
}
.yellow .tagit-choice:hover,
.yellow .badge:hover {
  background: #a37b00;
}
