.dropdown {
  position: relative;
}
.dropdown.left .content {
  left: 0;
  right: auto;
}
.dropdown.open .content,
.dropdown:target .content,
.dropdown:hover .content {
  display: block;
}
.dropdown.open .toggle.open,
.dropdown:target .toggle.open,
.dropdown:hover .toggle.open {
  display: none;
}
.dropdown.open .toggle.close,
.dropdown:target .toggle.close,
.dropdown:hover .toggle.close {
  display: block;
}
.dropdown .toggle {
  display: block;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}
.dropdown .toggle.close {
  border-bottom: 0;
  border-radius: 2px 2px 0 0;
  display: none;
}
.dropdown .toggle.close:before {
  border-bottom: 10px solid #073642;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  bottom: 0;
  content: ' ';
  display: block;
  left: 50%;
  margin-left: -10px;
  position: absolute;
}
.dropdown .toggle.open {
  display: block;
}
.dropdown .content {
  background: #002b36;
  border-radius: 0 0 2px 2px;
  display: none;
  font-size: 14px;
  list-style: none;
  padding: 10px;
  position: absolute;
  top: 100%;
  right: 0;
  width: 400%;
  z-index: 250;
}
.dropdown .content a {
  display: block;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.dropdown .content a [class^=icon] {
  display: block;
  float: left;
  text-align: center;
  width: 50px;
}
