.col5 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  padding-left: 20px;
  width: 5%;
}
.push5 {
  margin-left: 5%;
}
.pull5 {
  margin-left: -5%;
}
.col10 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  padding-left: 20px;
  width: 10%;
}
.push10 {
  margin-left: 10%;
}
.pull10 {
  margin-left: -10%;
}
.col15 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  padding-left: 20px;
  width: 15%;
}
.push15 {
  margin-left: 15%;
}
.pull15 {
  margin-left: -15%;
}
.col20 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  padding-left: 20px;
  width: 20%;
}
.push20 {
  margin-left: 20%;
}
.pull20 {
  margin-left: -20%;
}
.col25 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  padding-left: 20px;
  width: 25%;
}
.push25 {
  margin-left: 25%;
}
.pull25 {
  margin-left: -25%;
}
.col30 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  padding-left: 20px;
  width: 30%;
}
.push30 {
  margin-left: 30%;
}
.pull30 {
  margin-left: -30%;
}
.col35 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  padding-left: 20px;
  width: 35%;
}
.push35 {
  margin-left: 35%;
}
.pull35 {
  margin-left: -35%;
}
.col40 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  padding-left: 20px;
  width: 40%;
}
.push40 {
  margin-left: 40%;
}
.pull40 {
  margin-left: -40%;
}
.col45 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  padding-left: 20px;
  width: 45%;
}
.push45 {
  margin-left: 45%;
}
.pull45 {
  margin-left: -45%;
}
.col50 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  padding-left: 20px;
  width: 50%;
}
.push50 {
  margin-left: 50%;
}
.pull50 {
  margin-left: -50%;
}
.col55 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  padding-left: 20px;
  width: 55%;
}
.push55 {
  margin-left: 55%;
}
.pull55 {
  margin-left: -55%;
}
.col60 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  padding-left: 20px;
  width: 60%;
}
.push60 {
  margin-left: 60%;
}
.pull60 {
  margin-left: -60%;
}
.col65 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  padding-left: 20px;
  width: 65%;
}
.push65 {
  margin-left: 65%;
}
.pull65 {
  margin-left: -65%;
}
.col70 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  padding-left: 20px;
  width: 70%;
}
.push70 {
  margin-left: 70%;
}
.pull70 {
  margin-left: -70%;
}
.col75 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  padding-left: 20px;
  width: 75%;
}
.push75 {
  margin-left: 75%;
}
.pull75 {
  margin-left: -75%;
}
.col80 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  padding-left: 20px;
  width: 80%;
}
.push80 {
  margin-left: 80%;
}
.pull80 {
  margin-left: -80%;
}
.col85 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  padding-left: 20px;
  width: 85%;
}
.push85 {
  margin-left: 85%;
}
.pull85 {
  margin-left: -85%;
}
.col90 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  padding-left: 20px;
  width: 90%;
}
.push90 {
  margin-left: 90%;
}
.pull90 {
  margin-left: -90%;
}
.col95 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  padding-left: 20px;
  width: 95%;
}
.push95 {
  margin-left: 95%;
}
.pull95 {
  margin-left: -95%;
}
.col100 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  padding-left: 20px;
  width: 100%;
}
.push100 {
  margin-left: 100%;
}
.pull100 {
  margin-left: -100%;
}
.col33 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  padding-left: 20px;
  width: 33.33%;
}
.push33 {
  margin-left: 33.33%;
}
.pull33 {
  margin-left: -33.33%;
}
.col66 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  padding-left: 20px;
  width: 66.66%;
}
.push66 {
  margin-left: 66.66%;
}
.pull66 {
  margin-left: -66.66%;
}
.row12 .col1 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  padding-left: 20px;
  width: 8.333333333333332%;
}
.row12 .push1 {
  margin-left: 8.333333333333332%;
}
.row12 .pull1 {
  margin-left: -8.333333333333332%;
}
.row12 .col2 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  padding-left: 20px;
  width: 16.666666666666664%;
}
.row12 .push2 {
  margin-left: 16.666666666666664%;
}
.row12 .pull2 {
  margin-left: -16.666666666666664%;
}
.row12 .col3 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  padding-left: 20px;
  width: 25%;
}
.row12 .push3 {
  margin-left: 25%;
}
.row12 .pull3 {
  margin-left: -25%;
}
.row12 .col4 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  padding-left: 20px;
  width: 33.33333333333333%;
}
.row12 .push4 {
  margin-left: 33.33333333333333%;
}
.row12 .pull4 {
  margin-left: -33.33333333333333%;
}
.row12 .col5 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  padding-left: 20px;
  width: 41.66666666666667%;
}
.row12 .push5 {
  margin-left: 41.66666666666667%;
}
.row12 .pull5 {
  margin-left: -41.66666666666667%;
}
.row12 .col6 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  padding-left: 20px;
  width: 50%;
}
.row12 .push6 {
  margin-left: 50%;
}
.row12 .pull6 {
  margin-left: -50%;
}
.row12 .col7 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  padding-left: 20px;
  width: 58.333333333333336%;
}
.row12 .push7 {
  margin-left: 58.333333333333336%;
}
.row12 .pull7 {
  margin-left: -58.333333333333336%;
}
.row12 .col8 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  padding-left: 20px;
  width: 66.66666666666666%;
}
.row12 .push8 {
  margin-left: 66.66666666666666%;
}
.row12 .pull8 {
  margin-left: -66.66666666666666%;
}
.row12 .col9 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  padding-left: 20px;
  width: 75%;
}
.row12 .push9 {
  margin-left: 75%;
}
.row12 .pull9 {
  margin-left: -75%;
}
.row12 .col10 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  padding-left: 20px;
  width: 83.33333333333334%;
}
.row12 .push10 {
  margin-left: 83.33333333333334%;
}
.row12 .pull10 {
  margin-left: -83.33333333333334%;
}
.row12 .col11 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  padding-left: 20px;
  width: 91.66666666666666%;
}
.row12 .push11 {
  margin-left: 91.66666666666666%;
}
.row12 .pull11 {
  margin-left: -91.66666666666666%;
}
.row12 .col12 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  padding-left: 20px;
  width: 100%;
}
.row12 .push12 {
  margin-left: 100%;
}
.row12 .pull12 {
  margin-left: -100%;
}
.row16 .col1 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  padding-left: 20px;
  width: 6.25%;
}
.row16 .push1 {
  margin-left: 6.25%;
}
.row16 .pull1 {
  margin-left: -6.25%;
}
.row16 .col2 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  padding-left: 20px;
  width: 12.5%;
}
.row16 .push2 {
  margin-left: 12.5%;
}
.row16 .pull2 {
  margin-left: -12.5%;
}
.row16 .col3 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  padding-left: 20px;
  width: 18.75%;
}
.row16 .push3 {
  margin-left: 18.75%;
}
.row16 .pull3 {
  margin-left: -18.75%;
}
.row16 .col4 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  padding-left: 20px;
  width: 25%;
}
.row16 .push4 {
  margin-left: 25%;
}
.row16 .pull4 {
  margin-left: -25%;
}
.row16 .col5 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  padding-left: 20px;
  width: 31.25%;
}
.row16 .push5 {
  margin-left: 31.25%;
}
.row16 .pull5 {
  margin-left: -31.25%;
}
.row16 .col6 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  padding-left: 20px;
  width: 37.5%;
}
.row16 .push6 {
  margin-left: 37.5%;
}
.row16 .pull6 {
  margin-left: -37.5%;
}
.row16 .col7 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  padding-left: 20px;
  width: 43.75%;
}
.row16 .push7 {
  margin-left: 43.75%;
}
.row16 .pull7 {
  margin-left: -43.75%;
}
.row16 .col8 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  padding-left: 20px;
  width: 50%;
}
.row16 .push8 {
  margin-left: 50%;
}
.row16 .pull8 {
  margin-left: -50%;
}
.row16 .col9 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  padding-left: 20px;
  width: 56.25%;
}
.row16 .push9 {
  margin-left: 56.25%;
}
.row16 .pull9 {
  margin-left: -56.25%;
}
.row16 .col10 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  padding-left: 20px;
  width: 62.5%;
}
.row16 .push10 {
  margin-left: 62.5%;
}
.row16 .pull10 {
  margin-left: -62.5%;
}
.row16 .col11 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  padding-left: 20px;
  width: 68.75%;
}
.row16 .push11 {
  margin-left: 68.75%;
}
.row16 .pull11 {
  margin-left: -68.75%;
}
.row16 .col12 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  padding-left: 20px;
  width: 75%;
}
.row16 .push12 {
  margin-left: 75%;
}
.row16 .pull12 {
  margin-left: -75%;
}
.row16 .col13 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  padding-left: 20px;
  width: 81.25%;
}
.row16 .push13 {
  margin-left: 81.25%;
}
.row16 .pull13 {
  margin-left: -81.25%;
}
.row16 .col14 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  padding-left: 20px;
  width: 87.5%;
}
.row16 .push14 {
  margin-left: 87.5%;
}
.row16 .pull14 {
  margin-left: -87.5%;
}
.row16 .col15 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  padding-left: 20px;
  width: 93.75%;
}
.row16 .push15 {
  margin-left: 93.75%;
}
.row16 .pull15 {
  margin-left: -93.75%;
}
.row16 .col16 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  padding-left: 20px;
  width: 100%;
}
.row16 .push16 {
  margin-left: 100%;
}
.row16 .pull16 {
  margin-left: -100%;
}
.row24 .col1 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  padding-left: 20px;
  width: 4.166666666666666%;
}
.row24 .push1 {
  margin-left: 4.166666666666666%;
}
.row24 .pull1 {
  margin-left: -4.166666666666666%;
}
.row24 .col2 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  padding-left: 20px;
  width: 8.333333333333332%;
}
.row24 .push2 {
  margin-left: 8.333333333333332%;
}
.row24 .pull2 {
  margin-left: -8.333333333333332%;
}
.row24 .col3 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  padding-left: 20px;
  width: 12.5%;
}
.row24 .push3 {
  margin-left: 12.5%;
}
.row24 .pull3 {
  margin-left: -12.5%;
}
.row24 .col4 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  padding-left: 20px;
  width: 16.666666666666664%;
}
.row24 .push4 {
  margin-left: 16.666666666666664%;
}
.row24 .pull4 {
  margin-left: -16.666666666666664%;
}
.row24 .col5 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  padding-left: 20px;
  width: 20.833333333333336%;
}
.row24 .push5 {
  margin-left: 20.833333333333336%;
}
.row24 .pull5 {
  margin-left: -20.833333333333336%;
}
.row24 .col6 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  padding-left: 20px;
  width: 25%;
}
.row24 .push6 {
  margin-left: 25%;
}
.row24 .pull6 {
  margin-left: -25%;
}
.row24 .col7 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  padding-left: 20px;
  width: 29.166666666666668%;
}
.row24 .push7 {
  margin-left: 29.166666666666668%;
}
.row24 .pull7 {
  margin-left: -29.166666666666668%;
}
.row24 .col8 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  padding-left: 20px;
  width: 33.33333333333333%;
}
.row24 .push8 {
  margin-left: 33.33333333333333%;
}
.row24 .pull8 {
  margin-left: -33.33333333333333%;
}
.row24 .col9 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  padding-left: 20px;
  width: 37.5%;
}
.row24 .push9 {
  margin-left: 37.5%;
}
.row24 .pull9 {
  margin-left: -37.5%;
}
.row24 .col10 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  padding-left: 20px;
  width: 41.66666666666667%;
}
.row24 .push10 {
  margin-left: 41.66666666666667%;
}
.row24 .pull10 {
  margin-left: -41.66666666666667%;
}
.row24 .col11 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  padding-left: 20px;
  width: 45.83333333333333%;
}
.row24 .push11 {
  margin-left: 45.83333333333333%;
}
.row24 .pull11 {
  margin-left: -45.83333333333333%;
}
.row24 .col12 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  padding-left: 20px;
  width: 50%;
}
.row24 .push12 {
  margin-left: 50%;
}
.row24 .pull12 {
  margin-left: -50%;
}
.row24 .col13 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  padding-left: 20px;
  width: 54.166666666666664%;
}
.row24 .push13 {
  margin-left: 54.166666666666664%;
}
.row24 .pull13 {
  margin-left: -54.166666666666664%;
}
.row24 .col14 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  padding-left: 20px;
  width: 58.333333333333336%;
}
.row24 .push14 {
  margin-left: 58.333333333333336%;
}
.row24 .pull14 {
  margin-left: -58.333333333333336%;
}
.row24 .col15 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  padding-left: 20px;
  width: 62.5%;
}
.row24 .push15 {
  margin-left: 62.5%;
}
.row24 .pull15 {
  margin-left: -62.5%;
}
.row24 .col16 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  padding-left: 20px;
  width: 66.66666666666666%;
}
.row24 .push16 {
  margin-left: 66.66666666666666%;
}
.row24 .pull16 {
  margin-left: -66.66666666666666%;
}
.row24 .col17 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  padding-left: 20px;
  width: 70.83333333333334%;
}
.row24 .push17 {
  margin-left: 70.83333333333334%;
}
.row24 .pull17 {
  margin-left: -70.83333333333334%;
}
.row24 .col18 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  padding-left: 20px;
  width: 75%;
}
.row24 .push18 {
  margin-left: 75%;
}
.row24 .pull18 {
  margin-left: -75%;
}
.row24 .col19 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  padding-left: 20px;
  width: 79.16666666666666%;
}
.row24 .push19 {
  margin-left: 79.16666666666666%;
}
.row24 .pull19 {
  margin-left: -79.16666666666666%;
}
.row24 .col20 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  padding-left: 20px;
  width: 83.33333333333334%;
}
.row24 .push20 {
  margin-left: 83.33333333333334%;
}
.row24 .pull20 {
  margin-left: -83.33333333333334%;
}
.row24 .col21 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  padding-left: 20px;
  width: 87.5%;
}
.row24 .push21 {
  margin-left: 87.5%;
}
.row24 .pull21 {
  margin-left: -87.5%;
}
.row24 .col22 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  padding-left: 20px;
  width: 91.66666666666666%;
}
.row24 .push22 {
  margin-left: 91.66666666666666%;
}
.row24 .pull22 {
  margin-left: -91.66666666666666%;
}
.row24 .col23 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  padding-left: 20px;
  width: 95.83333333333334%;
}
.row24 .push23 {
  margin-left: 95.83333333333334%;
}
.row24 .pull23 {
  margin-left: -95.83333333333334%;
}
.row24 .col24 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  padding-left: 20px;
  width: 100%;
}
.row24 .push24 {
  margin-left: 100%;
}
.row24 .pull24 {
  margin-left: -100%;
}
.row {
  padding: 0;
}
.row:before,
.row:after {
  content: ' ';
  display: table;
}
.row:after {
  clear: both;
}
.col {
  display: block;
  float: left;
}
.alpha {
  padding-left: 0;
}
.omega {
  padding-right: 0;
}
