.progress {
  background: rgba(55,151,219,0.9);
  border-radius: 2px;
  border-color: #227dbd;
  border-style: solid;
  border-width: 1px;
  -webkit-box-shadow: 0px 1px 0 0 rgba(255,255,255,0.2) inset;
  box-shadow: 0px 1px 0 0 rgba(255,255,255,0.2) inset;
  clear: both;
  height: 4px;
  padding: 0px;
}
.progress .bar {
  background: #268bd2;
  border-right: 1px solid #227dbd;
  -webkit-box-shadow: 0px 1px 0 0 rgba(255,255,255,0.2) inset;
  box-shadow: 0px 1px 0 0 rgba(255,255,255,0.2) inset;
  display: block;
  height: 100%;
}
