@import vars


.alert
  color color-base3
  line-height 20px
  padding 10px

  &.error, &.red
    background color-red

  &.info, &.blue
    background color-blue

  &.success, &.green
    background color-green
