@import vars

.progress
  background rgba(color-high1, .9)
  border-radius border-radius
  border-color color-high3
  border-style solid
  border-width 1px
  box-shadow 0px 1px 0 0 rgba(255, 255, 255, .2) inset
  clear both
  height border-radius * 2
  padding 0px

  .bar
    background color-high2
    border-right 1px solid color-high3
    box-shadow 0px 1px 0 0 rgba(255, 255, 255, .2) inset
    display block
    height 100%
