@import vars

.muted
  opacity .5

.middle
  vertical-align middle

.bottom
  vertical-align bottom

.top
  vertical-align top

.text-right
  text-align right

.text-left
  text-align left

.center, .text-center
  text-align center

.right
  float right

.left
  float left

.full
  width 100%

.toggleable

  &.open, &:target

    .toggle.open
      display none

    > .content
      display block

  > .content
    display none

.xx-small
  font-size font-base * .6

.x-small
  font-size font-base * .75

.small
  font-size font-base * .89

.medium
  font-size font-base

.large
  font-size font-base * 1.2

.x-large
  font-size font-base * 1.5

.xx-large
  font-size font-base * 2

.huge
  font-size font-base * 3
