@import nib

/* colors */
color-base1 = #fdf6e3    /* light: background */
color-base2 = #eee8d5    /* light: background highlights */
color-base3 = #93a1a1    /* light: comments/secondary content, dark: optional emphasized text */
color-base4 = #839496    /* dark: body text/default code/primary content */
color-base5 = #657b83   /* light: body text/default code/primary content */
color-base6 = #586e75   /* light: optional emphasized text, dark: comments/secondary content */
color-base7 = #073642   /* dark: background highlights */
color-base8 = #002b36   /* dark: background */
color-blue = #268bd2
color-cyan = #2aa198
color-green = #859900
color-magenta = #d33682
color-orange = #cb4b16
color-red = #dc322f
color-violet = #6c71c4
color-purple = color-violet
color-yellow = #b58900

/* fonts */
font-body = Helvetica, sans-serif
font-header = font-body
font-mono = monospace
font-base = 16px

/* misc styling */
border-radius = 2px
line-height = 20px
contrast-strength = 10%
gutter-width = 20px

/* flags */
use-gradient = true
use-border-radius = true
use-box-shadow = true
use-text-shadow = true

color-high1 = lighten(color-blue, contrast-strength)
color-high2 = color-blue
color-high3 = darken(color-blue, contrast-strength)
